/* Css For Mobile */
@media screen and (max-width:640px) {
    html {
        font-size: 14px;
    }

    /* Hero Section */
    .hero {
        flex-direction: column-reverse;
        padding: 20px;
        margin: 30px auto;
    }

    .hero-content {
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .hero h1 {
        text-align: center;
    }

    .hero p {
        max-width: 100%;
        text-align: justify;
    }

    /* Category section */
    .ctg-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Products section */
    .product {
        padding: 50px 12px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer section */
    .footer {
        padding: 40px;
        margin-bottom: 0px;
    }

    .input {
        max-width: 100%;
        flex-direction: column;
        gap: 12px;
    }
}

/* Css for Tablet */
@media screen and (min-width:640px) and (max-width:992px) {

    /* Hero Section */
    .hero {
        flex-direction: column-reverse;
        padding: 30px;
        margin: 30px auto;
    }

    .hero-content {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        text-align: center;
    }

    .hero p {
        max-width: 100%;
        text-align: justify;
    }

    /* Category section */
    .ctg-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Products section */

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        padding: 60px;
        margin-bottom: 0px;
    }

    .input {
        max-width: 100%;
    }
}